.banner_wrapper {
  width: 100%;
  margin: 0 auto;
}
.banner_wrapper .banner_item {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.banner_wrapper .banner_item .banner_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner_wrapper .banner_item .banner_card .banner_img {
  width: 65%;
  height: 600px;
}
.banner_wrapper .banner_item .banner_card .banner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner_wrapper .banner_item .banner_card .banner_info {
  width: 35%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  color: #08192D;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: relative;
}
.banner_wrapper .banner_item .banner_card .banner_info h4 {
  font-size: 40px;
}
.banner_wrapper .banner_item .banner_card .banner_info span {
  font-size: 20px;
}
.banner_wrapper .banner_item .banner_card .banner_info p {
  font-size: 20px;
  color: #91989F;
}

.intro_article {
  margin: 160px 0;
}
.intro_article .intro_title {
  padding: 0 40px;
}
.intro_article .intro_title h2 {
  font-size: 60px;
  color: #08192D;
  line-height: 1.5;
}
.intro_article .intro_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
}
.intro_article .intro_wrapper .intro_aside {
  width: 500px;
  color: #08192D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 0.5px solid #08192D;
  padding: 40px 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /* for Safari */
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro_article .intro_wrapper .intro_aside span {
  font-size: 40px;
  font-style: italic;
}
.intro_article .intro_wrapper .intro_aside h3 {
  font-size: 24px;
  padding: 20px;
}
.intro_article .intro_wrapper .intro_aside .page_link {
  padding: 100px 0;
  text-align: center;
}
.intro_article .intro_wrapper .intro_aside .page_link a {
  display: inline-block;
  padding: 20px 0px 20px 30px;
  font-size: 40px;
  font-style: italic;
  color: #08192D;
  position: relative;
  z-index: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.intro_article .intro_wrapper .intro_aside .page_link a::after {
  content: "\f02b";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
}
.intro_article .intro_wrapper .intro_aside .page_link a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 80px;
  height: 80px;
  aspect-ratio: 80/80;
  border-radius: 50px;
  background-color: rgba(8, 25, 45, 0.3);
  z-index: -1;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.intro_article .intro_wrapper .intro_aside .page_link a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.intro_article .intro_wrapper .intro_aside .page_link a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.intro_article .intro_wrapper article {
  width: 70%;
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.intro_article .intro_wrapper article img {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px rgba(153, 17, 153, 0.5333333333);
          box-shadow: 2px 2px 15px rgba(153, 17, 153, 0.5333333333);
  margin: 40px 0;
  width: 80%;
}
.intro_article .intro_wrapper article p {
  font-size: 24px;
  color: #91989F;
}

@media screen and (max-width: 1200px) {
  .banner_wrapper .banner_item .banner_card .banner_info {
    padding: 30px 40px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info h4 {
    font-size: 36px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info p {
    font-size: 18px;
  }
  .intro_article .intro_title {
    text-align: center;
  }
  .intro_article .intro_title h2 {
    font-size: 50px;
  }
  .intro_article .intro_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro_article .intro_wrapper .intro_aside {
    width: 100%;
    border-right: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .intro_article .intro_wrapper .intro_aside .page_link {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .intro_article .intro_wrapper .intro_aside::after {
    content: "";
    height: 160px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    top: 80%;
  }
  .intro_article .intro_wrapper article {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .banner_wrapper .banner_item {
    height: auto;
  }
  .banner_wrapper .banner_item .banner_card .banner_img {
    width: 60%;
    height: 450px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info {
    width: 40%;
    padding: 20px 30px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info h4 {
    font-size: 30px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info p {
    font-size: 16px;
  }
  .intro_article {
    margin: 80px 0;
  }
  .intro_article .intro_title h2 {
    font-size: 40px;
  }
  .intro_article .intro_wrapper {
    margin: 0;
  }
  .intro_article .intro_wrapper .intro_aside {
    position: relative;
  }
  .intro_article .intro_wrapper .intro_aside span {
    font-size: 30px;
    font-style: italic;
  }
  .intro_article .intro_wrapper .intro_aside h3 {
    font-size: 20px;
    padding: 20px;
  }
  .intro_article .intro_wrapper .intro_aside .page_link {
    padding: 60px 0;
  }
  .intro_article .intro_wrapper .intro_aside::after {
    content: "";
    height: 100px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    top: 80%;
  }
  .intro_article .intro_wrapper article p {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .banner_wrapper .banner_item {
    height: auto;
  }
  .banner_wrapper .banner_item .banner_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner_wrapper .banner_item .banner_card .banner_img {
    width: 100%;
    height: 300px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info {
    width: 100%;
  }
  .banner_wrapper .banner_item .banner_card .banner_info h4 {
    font-size: 30px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info span {
    font-size: 16px;
  }
  .banner_wrapper .banner_item .banner_card .banner_info p {
    font-size: 16px;
  }
  .intro_article .intro_title h2 {
    font-size: 30px;
  }
  .intro_article .intro_wrapper .intro_aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative;
  }
  .intro_article .intro_wrapper .intro_aside::before {
    content: "";
    height: 60px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    bottom: 100%;
  }
  .intro_article .intro_wrapper .intro_aside::after {
    content: "";
    height: 80px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    top: 90%;
  }
  .intro_article .intro_wrapper .intro_aside .page_link {
    padding: 60px 0;
    text-align: center;
  }
  .intro_article .intro_wrapper .intro_aside .page_link a {
    display: inline-block;
    padding: 20px 30px;
    font-size: 40px;
    font-style: italic;
    color: #08192D;
    position: relative;
    z-index: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .intro_article .intro_wrapper .intro_aside .page_link a::after {
    content: "\f02b";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-style: normal;
    padding-left: 10px;
  }
  .intro_article .intro_wrapper .intro_aside .page_link a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 80px;
    height: 80px;
    aspect-ratio: 80/80;
    border-radius: 50px;
    background-color: rgba(8, 25, 45, 0.3);
    z-index: -1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .intro_article .intro_wrapper .intro_aside .page_link a:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .intro_article .intro_wrapper .intro_aside .page_link a:hover::before {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .intro_article .intro_wrapper article img {
    width: 100%;
  }
}
@media screen and (max-width: 410px) {
  .banner_wrapper .banner_item .banner_card .banner_info h4 {
    font-size: 24px;
  }
  .intro_article .intro_title {
    position: relative;
  }
  .intro_article .intro_title::before {
    content: "";
    height: 60px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    bottom: 100%;
  }
  .intro_article .intro_title::after {
    content: "";
    height: 60px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    top: 100%;
  }
  .intro_article .intro_wrapper .intro_aside {
    position: relative;
  }
  .intro_article .intro_wrapper .intro_aside::before {
    content: "";
    height: 80px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    bottom: 95%;
  }
  .intro_article .intro_wrapper .intro_aside::after {
    content: "";
    height: 180px;
    width: 1px;
    background-color: #08192D;
    position: absolute;
    left: 50%;
    top: 90%;
  }
  .intro_article .intro_wrapper .intro_aside .page_link {
    padding: 30px 0;
  }
  .intro_article .intro_wrapper .intro_aside .page_link a {
    padding: 20px 30px;
    font-size: 30px;
  }
  .intro_article .intro_wrapper article p {
    font-size: 16px;
  }
}