.banner_wrapper {
  width: 100%;
  margin: 0 auto;
}
.banner_wrapper .banner_item {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.banner_wrapper .banner_item .banner_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner_wrapper .banner_item .banner_card .banner_img {
  width: 70%;
  height: 600px;
}
.banner_wrapper .banner_item .banner_card .banner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner_wrapper .banner_item .banner_card .banner_info {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  color: #08192D;
  padding: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.banner_wrapper .banner_item .banner_card .banner_info h4 {
  font-size: 40px;
}
.banner_wrapper .banner_item .banner_card .banner_info span {
  font-size: 20px;
}
.banner_wrapper .banner_item .banner_card .banner_info p {
  font-size: 20px;
  color: #91989F;
  text-align: justify;
}

.intro_article {
  padding: 80px 0;
}
.intro_article .intro_title h2 {
  font-size: 60px;
  color: #08192D;
}
.intro_article .intro_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #91989F;
  margin: 60px 0;
}
.intro_article .intro_wrapper .intro_sidebar {
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #91989F;
  padding: 0 60px 40px;
  -ms-flex-item-align: start;
      align-self: flex-start; /* for Safari */
  position: sticky;
  top: 0;
}
.intro_article .intro_wrapper .intro_sidebar span {
  font-size: 40px;
  font-style: italic;
}
.intro_article .intro_wrapper .intro_sidebar h3 {
  font-size: 24px;
  padding: 20px;
}
.intro_article .intro_wrapper .intro_sidebar .btn_tickets {
  text-align: center;
}
.intro_article .intro_wrapper .intro_sidebar .btn_tickets a {
  text-align: center;
  display: inline-block;
  background-color: #222;
  padding: 4px 12px;
  border: 1px solid #222;
  border-radius: 10px;
  color: #fefefe;
  font-weight: 400;
}
.intro_article .intro_wrapper .intro_sidebar .btn_tickets a .link_tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.intro_article .intro_wrapper article {
  width: 70%;
  padding: 0 80px;
  text-align: center;
}
.intro_article .intro_wrapper article p {
  font-size: 20px;
  padding: 20px 0;
}

.ex_slider_wrapper {
  width: 60%;
  margin: 40px auto;
}
.ex_slider_wrapper .ex_item {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
}
.ex_slider_wrapper .ex_item img {
  width: 100%;
}