.banner_wrapper {
  width: 100%;
  margin: 0 auto;
}
.banner_wrapper .banner_item {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.banner_wrapper .banner_item .banner_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner_wrapper .banner_item .banner_card .banner_img {
  width: 70%;
  height: 600px;
}
.banner_wrapper .banner_item .banner_card .banner_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.banner_wrapper .banner_item .banner_card .banner_info {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  color: #08192D;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  position: relative;
}
.banner_wrapper .banner_item .banner_card .banner_info h4 {
  font-size: 40px;
}
.banner_wrapper .banner_item .banner_card .banner_info span {
  font-size: 20px;
}
.banner_wrapper .banner_item .banner_card .banner_info p {
  font-size: 20px;
  color: #91989F;
  text-align: justify;
}
.banner_wrapper .banner_item .banner_card .banner_info .page_link {
  text-align: center;
  padding: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.banner_wrapper .banner_item .banner_card .banner_info .page_link a {
  display: inline-block;
  padding: 20px 30px;
  font-size: 20px;
  font-style: italic;
  color: #08192D;
  position: relative;
  z-index: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.banner_wrapper .banner_item .banner_card .banner_info .page_link a::after {
  content: "\f178";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
}
.banner_wrapper .banner_item .banner_card .banner_info .page_link a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  aspect-ratio: 60/60;
  border-radius: 50px;
  border: 1px solid #08192D;
  z-index: -1;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.banner_wrapper .banner_item .banner_card .banner_info .page_link a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.banner_wrapper .banner_item .banner_card .banner_info .page_link a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.past {
  color: #08192D;
  margin: 160px 0;
}
.past .past_title h2 {
  font-size: 60px;
}
.past .btn_wrapper {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.past .btn_wrapper .btn_category a {
  font-family: "Noto Sans", sans-serif;
  color: #FCFAF2;
  background-color: rgba(8, 25, 45, 0.7);
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .btn_wrapper .btn_category a:hover {
  color: #08192D;
  background-color: rgba(8, 25, 45, 0.3);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .past_wrapper {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.past .past_wrapper .past_item {
  width: 300px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 20px 0;
}
.past .past_wrapper .past_item .past_img {
  width: 300px;
  height: 300px;
}
.past .past_wrapper .past_item .past_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.past .past_wrapper .past_item .past_ex_intro {
  color: #08192D;
  font-size: 32px;
  text-align: center;
  font-style: italic;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .past_wrapper .past_item .past_ex_intro::before {
  background-color: #91989F;
  content: "";
  inset: 50% 0 0 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: -1;
}
.past .past_wrapper .past_item:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .past_wrapper .past_item:hover .past_ex_intro {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .past_wrapper .past_item:hover .past_ex_intro::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.past .page_link {
  text-align: center;
}
.past .page_link a {
  display: inline-block;
  padding: 20px 30px;
  font-size: 40px;
  color: #08192D;
  position: relative;
  z-index: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .page_link a::after {
  content: "\f70e";
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-style: normal;
  padding-left: 10px;
}
.past .page_link a::before {
  position: absolute;
  inset: 0;
  content: "";
  width: 60px;
  height: 60px;
  aspect-ratio: 60/60;
  border-radius: 50%;
  background-color: rgba(8, 25, 45, 0.3);
  z-index: -1;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.past .page_link a:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  color: #91989F;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.past .page_link a:hover::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(145, 152, 159, 0.3);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}