.home-slideshow {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0;
}

.slideshow-mover {
  min-height: 100vh;
  width: 3973px;
  background-image: url(../img/index/big_bg_02.png);
  background-repeat: repeat-x;
  background-position: left center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: moveSlideshow 120s linear infinite;
          animation: moveSlideshow 120s linear infinite;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-66.6666%);
            transform: translateX(-66.6666%);
  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-66.6666%);
            transform: translateX(-66.6666%);
  }
}
header {
  position: absolute;
  top: 0;
}

.whatson {
  margin-bottom: 200px;
}
.whatson h2 {
  font-size: 160px;
  text-align: center;
  padding-top: 40px;
  color: #08192D;
}
.whatson .whatson_wrapper {
  width: 80%;
  margin: 0 auto;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item a {
  display: inline-block;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item a .whatson_intro {
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: #08192D;
  font-size: 24px;
  padding: 10px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item a .whatson_intro h4 {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item:hover .whatson_intro {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-weight: bold;
  background-color: rgba(252, 250, 242, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-list {
  padding-bottom: 40px !important;
}

.slick-slide {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slick-slide img {
  max-width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slick-center {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  opacity: 0.5 !important;
  color: #08192D !important;
}

.slick-prev {
  left: -40px !important;
}

.slick-next {
  right: -20px !important;
}

.news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(8, 25, 45, 0.6);
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news .page_link {
  position: absolute;
  left: 160px;
  bottom: 86px;
}
.news .page_link a {
  display: inline-block;
  padding: 10px;
  color: #FCFAF2;
  font-style: italic;
  font-size: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.news .page_link a::before {
  position: absolute;
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background-color: #FCFAF2;
  top: 50%;
  left: -160px;
}
.news .page_link:hover a {
  font-size: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.news .news_title {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
  font-size: 40px;
  color: #FCFAF2;
}
.news .news_list {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news .news_list ul li {
  border-bottom: 1px solid #FCFAF2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news .news_list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 40px 0;
  color: #FCFAF2;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.news .news_list ul li a:hover {
  font-size: 28px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe {
  margin: 100px 0;
}
.subscribe .subscirbe_wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  font-size: 20px;
}
.subscribe .subscirbe_wrapper .subscribe_intro {
  width: 480px;
  text-align: justify;
}
.subscribe .subscirbe_wrapper .subscribe_input {
  border-bottom: 3px solid #08192D;
}
.subscribe .subscirbe_wrapper .subscribe_input input[type=text] {
  width: 320px;
  padding: 20px;
  display: inline-block;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(8, 25, 45, 0);
  font-family: "Unna", serif;
  font-size: 20px;
  box-sizing: border-box;
}
.subscribe .subscirbe_wrapper .subscribe_input input[type=submit] {
  margin: 0 auto;
  padding: 10px 40px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(8, 25, 45, 0.6);
  color: #fff;
  font-family: "Unna", serif;
  font-style: italic;
  font-size: 20px;
}
.subscribe .subscirbe_wrapper .subscribe_input input[type=submit]:hover {
  cursor: pointer;
  background-color: rgba(8, 25, 45, 0.3);
  color: #08192D;
}