.home-slideshow {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0;
}

.slideshow-mover {
  min-height: 100vh;
  width: 3973px;
  background-image: url(../img/index/big_bg_02.png);
  background-repeat: repeat-x;
  background-position: left center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: moveSlideshow 120s linear infinite;
          animation: moveSlideshow 120s linear infinite;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-66.6666%);
            transform: translateX(-66.6666%);
  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-66.6666%);
            transform: translateX(-66.6666%);
  }
}
header {
  position: absolute;
  top: 0;
}
header nav ul li a {
  color: #ffffff;
  font-weight: bold;
  z-index: 3;
}
header nav ul li a:hover {
  color: #222;
}

.whatson h2 {
  font-size: 160px;
  text-align: center;
  padding-top: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: #fefefe;
}
.whatson .whatson_wrapper {
  width: 80%;
  margin: 0 auto;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item a {
  display: inline-block;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.whatson .whatson_wrapper .whatson_slider .whatson_item:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.whatson .whatson_wrapper .whatson_slider .whatson_item .whatson_intro {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: red;
  font-size: 20px;
}

.slick-slide {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 80px 0px;
}

.slick-slide img {
  max-width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slick-center {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  opacity: 0.5 !important;
  color: #08192D !important;
}

.slick-prev {
  left: -40px !important;
}

.slick-next {
  right: -20px !important;
}

.news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news .page_link {
  position: absolute;
  left: 100px;
  bottom: 0;
}
.news .page_link a {
  display: inline-block;
  padding: 10px;
}
.news .page_link a::before {
  position: absolute;
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #1c1c1c;
  top: 50%;
  left: -100px;
}
.news .news_title {
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news .news_list {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news .news_list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 40px 0;
}

.subscribe {
  width: 80%;
  margin: 0 auto;
}
.subscribe .subscirbe_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.subscribe .subscirbe_wrapper .subscribe_intro {
  width: 45%;
}
.subscribe .subscirbe_wrapper .subscribe_input {
  width: 50%;
}
.subscribe .subscirbe_wrapper .subscribe_input input[type=text] {
  width: 60%;
  padding: 12px;
  display: inline-block;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.subscribe .subscirbe_wrapper .subscribe_input input[type=submit] {
  padding: 10px 40px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(8, 25, 45, 0.6);
  color: #fff;
}