@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Unna:ital@0;1&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-image: url(../img/bg/all_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main_container {
  width: 100%;
  font-family: "Unna", serif;
}

h2 {
  font-style: italic;
}

p {
  line-height: 1.5;
  text-align: justify;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.topBtn {
  opacity: 0;
  visibility: hidden;
  border: none;
  width: 80px;
  height: 80px;
  background-color: rgba(8, 25, 45, 0.8);
  border-radius: 50%;
  font-family: "Unna", serif;
  font-size: 20px;
  color: #fefefe;
  position: fixed;
  right: 10%;
  bottom: 10%;
  cursor: pointer;
  z-index: 999;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}
.topBtn:hover {
  opacity: 0.7;
}

.showTopBtn {
  opacity: 1;
  visibility: inherit;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  z-index: 1;
  margin-bottom: 40px;
}
header .logo {
  width: 15%;
}
header .logo img {
  width: 100%;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
header nav ul li a {
  font-family: "Unna", serif;
  font-style: italic;
  font-size: 24px;
  padding: 0 4px;
  color: #08192D;
  z-index: 1;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header nav ul li a::before {
  background-color: #91989F;
  content: "";
  inset: 50% 0 0 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: -1;
}
header nav ul li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
header nav ul li a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#ham {
  display: none;
}

footer {
  margin-top: 60px;
  background: rgba(252, 250, 242, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  font-size: 20px;
  color: #08192D;
}
footer .footer_wrapper h4,
footer .footer_wrapper p {
  font-family: "Noto Sans", sans-serif;
}
footer .footer_wrapper h4 {
  font-weight: bold;
}
footer .footer_wrapper .footer_logo {
  width: 15%;
  padding: 80px 0 0 40px;
}
footer .footer_wrapper .footer_logo img {
  width: 100%;
}
footer .footer_wrapper .footer_info {
  width: 45%;
  padding: 80px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .footer_wrapper .footer_info .footer_title {
  border-bottom: 1px solid #08192D;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
footer .footer_wrapper .footer_info .footer_openinghoursinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer_wrapper .footer_info .footer_nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
footer .footer_wrapper .footer_info .footer_nav .footer_content ul li a {
  color: #08192D;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  padding: 4px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .footer_wrapper .footer_info .footer_nav .footer_content ul li a::before {
  background-color: #91989F;
  content: "";
  inset: 50% 0 0 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: -1;
}
footer .footer_wrapper .footer_info .footer_nav .footer_content ul li a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
footer .footer_wrapper .footer_info .footer_nav .footer_content ul li a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .footer_wrapper .footer_info .socialmedia_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
footer .footer_wrapper .footer_img {
  width: 35%;
}
footer .footer_wrapper .footer_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 1023px) {
  .hb {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .hb span {
    width: 80%;
    height: 4px;
    background-color: #08192D;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
  }
  .hb span:nth-child(1) {
    top: 8px;
    -webkit-transition: top 0.3s 0.3s, rotate 0.3s;
    transition: top 0.3s 0.3s, rotate 0.3s;
  }
  .hb span:nth-child(2) {
    top: 18px;
  }
  .hb span:nth-child(3) {
    top: 28px;
    -webkit-transition: top 0.3s 0.3s, rotate 0.3s;
    transition: top 0.3s 0.3s, rotate 0.3s;
  }
  #ham:checked + .main_header .hb span:nth-child(1) {
    top: 18px;
    rotate: 45deg;
    -webkit-transition: top 0.3s, rotate 0.3s 0.3s;
    transition: top 0.3s, rotate 0.3s 0.3s;
  }
  #ham:checked + .main_header .hb span:nth-child(2) {
    display: none;
  }
  #ham:checked + .main_header .hb span:nth-child(3) {
    top: 18px;
    rotate: -45deg;
    -webkit-transition: top 0.3s, rotate 0.3s 0.3s;
    transition: top 0.3s, rotate 0.3s 0.3s;
  }
  header {
    position: relative;
    margin-bottom: 0;
  }
  header .logo {
    width: 15%;
  }
  header nav {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.8);
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    padding: 40px;
  }
  #ham:checked + .main_header nav {
    display: block;
  }
  .container {
    max-width: 1023px;
  }
  footer .footer_wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footer_wrapper .footer_logo {
    width: 20%;
    padding: 80px 0 0 0;
  }
  footer .footer_wrapper .footer_info {
    width: 60%;
  }
  footer .footer_wrapper .footer_img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
  }
  header .logo {
    width: 20%;
  }
  footer .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_wrapper .footer_logo {
    width: 40%;
    padding: 80px 0 0 0;
  }
  footer .footer_wrapper .footer_info {
    width: 80%;
    padding: 40px;
  }
  footer .footer_wrapper .footer_info .footer_content {
    padding-bottom: 10px;
  }
  footer .footer_wrapper .footer_info .footer_openinghoursinfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer .footer_wrapper .footer_info .footer_address .footer_content p {
    text-align: left;
  }
}