.bookingSystem {
  text-align: center;
  background-color: rgba(8, 25, 45, 0.6);
}
.bookingSystem h2 {
  padding-top: 40px;
  color: #fefefe;
  font-size: 60px;
}

#mulForm {
  margin: 80px auto;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  font-size: 40px;
  color: #fefefe;
}

.type_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  padding: 80px 0 0;
}
.type_card .card {
  width: 50%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  text-align: left;
  border-radius: 10px;
  background-color: #fefefe;
}
.type_card .card .card_img {
  width: 100%;
}
.type_card .card .card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}
.type_card .card .card_txt {
  color: #08192D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.type_card .card .card_txt h3 {
  font-size: 24px;
}
.type_card .card .card_txt span {
  font-size: 20px;
}
.type_card .card .card_txt p {
  font-size: 16px;
}
.type_card .card .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.type_card .card .quantity input {
  width: 50px;
  margin: 0 5px;
}

#ticket-type-1,
#ticket-type-2 {
  display: none;
}

#ticket-type-1:checked + .card {
  outline: 8px solid #F6C555;
  opacity: 0.9;
}

#ticket-type-2:checked + .card {
  outline: 8px solid #F6C555;
  opacity: 0.9;
}

.tickets_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 0;
}
.tickets_wrapper .tickets_item {
  width: 240px;
  height: 300px;
  background-color: #fefefe;
  border: 1px solid #08192D;
  color: #08192D;
  text-align: center;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.tickets_wrapper .tickets_item p {
  font-size: 32px;
}
.tickets_wrapper .tickets_item .tickets_price {
  font-style: italic;
}
.tickets_wrapper .tickets_item .tickets_info {
  position: absolute;
  top: 300px;
  padding: 10px;
}
.tickets_wrapper .tickets_item .tickets_info p {
  text-align: center;
  font-size: 20px;
  color: #fefefe;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.quantity a {
  display: inline-block;
  font-size: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #08192D;
  color: #fefefe;
}

.quantity input {
  width: 50px;
  margin: 0 5px;
}

.quantity input[type=number] {
  text-align: center;
  border: none;
  border-bottom: 1px solid #08192D;
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.total-price {
  padding-top: 90px;
  font-style: italic;
  text-align: right;
}
.total-price::before {
  content: "\f51e";
  color: #fefefe;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  font-style: normal;
  padding-right: 10px;
}

.profile_wrapper {
  width: 80%;
  margin: 80px auto 0;
  text-align: left;
  font-size: 24px;
}
.profile_wrapper p {
  padding: 10px 0 40px;
}
.profile_wrapper p input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.profile_wrapper input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkout_wrapper {
  padding: 80px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 40px;
  text-align: left;
  font-size: 24px;
}
.checkout_wrapper p {
  padding: 10px 0 20px;
}
.checkout_wrapper p input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}
.checkout_wrapper .profile {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.checkout_wrapper .profile input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  line-height: 1.5;
}
.checkout_wrapper .payment {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.credit_icon {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 4px 0 !important;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #aaa;
}

input.invalid {
  outline: 4px solid #F6C555;
}

.arrow_btn {
  padding-top: 40px;
  overflow: auto;
}

.preNextBtn {
  float: right;
}

button {
  background-color: rgba(8, 25, 45, 0.5);
  color: #fefefe;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 40px;
  font-size: 20px;
  font-family: "Unna", serif;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

.tab {
  display: none;
  height: auto;
}

.nav_dots {
  margin-top: 10px;
  text-align: center;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #08192D;
}

.faq {
  color: #08192D;
}
.faq .faq_title {
  font-size: 60px;
  text-align: center;
}
.faq .faq_list {
  width: 80%;
  margin: 80px auto;
}
.faq .faq_list .faq_item {
  padding-bottom: 20px;
}
.faq .faq_list .faq_item .question {
  padding: 20px;
  border-bottom: 1px solid #08192D;
  font-size: 32px;
  position: relative;
}
.faq .faq_list .faq_item .question .switch_btn {
  color: #08192D;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 20px;
  top: calc((100% - 40px) / 2);
  font-size: 24px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.faq .faq_list .faq_item .icon_minus {
  display: none;
}
.faq .faq_list .faq_item .answer {
  display: none;
}
.faq .faq_list .faq_item .answer p {
  font-size: 20px;
  padding: 20px;
}
.faq .faq_list .show_answer .answer {
  display: block;
}
.faq .faq_list .show_answer .icon_minus {
  display: inline;
}
.faq .faq_list .show_answer .icon_plus {
  display: none;
}

@media screen and (max-width: 1200px) {
  .tickets_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0 0;
  }
  .tickets_wrapper .tickets_item {
    width: 60%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 80px;
    margin: 0 auto 80px;
  }
  .tickets_wrapper .tickets_item .tickets_info {
    position: absolute;
    top: 100%;
    padding: 10px;
  }
  .total-price {
    text-align: center;
    padding-top: 40px;
  }
  .preNextBtn {
    float: initial;
  }
}
@media screen and (max-width: 1023px) {
  .bookingSystem h2 {
    font-size: 50px;
  }
  .type_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .type_card .card {
    width: 80%;
  }
  .faq .faq_title {
    font-size: 45px;
  }
  .faq .faq_list .faq_item .question {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  #mulForm {
    font-size: 32px;
  }
  .bookingSystem h2 {
    font-size: 36px;
  }
  .type_card .card {
    width: 90%;
  }
  .type_card .card .card_txt h3 {
    font-size: 20px;
  }
  .type_card .card .card_txt span {
    font-size: 16px;
  }
  .type_card .card .card_txt p {
    font-size: 16px;
  }
  .tickets_wrapper .tickets_item {
    width: 100%;
    padding: 10px 40px;
  }
  .tickets_wrapper .tickets_item img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .tickets_wrapper .tickets_item p {
    font-size: 20px;
  }
  .tickets_wrapper .tickets_item .tickets_info p {
    font-size: 16px;
  }
  .total-price {
    padding: 20px;
  }
  .checkout_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout_wrapper .profile {
    width: 80%;
  }
  .checkout_wrapper .payment {
    width: 80%;
  }
  .faq .faq_title {
    font-size: 36px;
  }
  .faq .faq_list .faq_item .question {
    padding: 20px 60px 20px 20px;
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  #mulForm {
    font-size: 24px;
  }
  .type_card .card {
    width: 100%;
  }
  .type_card .card .card_txt h3 {
    font-size: 16px;
  }
  .type_card .card .card_txt span {
    font-size: 12px;
  }
  .type_card .card .card_txt p {
    font-size: 16px;
  }
  .tickets_wrapper .tickets_item {
    width: 100%;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 60px;
  }
  .tickets_wrapper .tickets_item img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .tickets_wrapper .tickets_item p {
    font-size: 16px;
  }
  .tickets_wrapper .tickets_item .tickets_info {
    position: absolute;
    top: 100%;
    padding: 10px;
  }
  .tickets_wrapper .tickets_item .tickets_info p {
    text-align: left;
    font-size: 12px;
  }
  .quantity a {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  .quantity input {
    width: 20px;
  }
  .quantity input[type=number] {
    font-size: 16px;
  }
  .total-price {
    font-size: 24px;
    padding: 40px 0;
  }
  .profile_wrapper {
    width: 100%;
    font-size: 20px;
  }
  .profile_wrapper p {
    padding: 5px 0 20px;
  }
  .profile_wrapper p input {
    padding: 10px;
    font-size: 16px;
  }
  .checkout_wrapper {
    font-size: 20px;
  }
  .checkout_wrapper p {
    padding: 5px 0 20px;
  }
  .checkout_wrapper p input {
    padding: 10px;
    font-size: 16px;
  }
  .checkout_wrapper .profile {
    width: 100%;
  }
  .checkout_wrapper .payment {
    width: 100%;
  }
  .credit_icon {
    font-size: 40px;
  }
  .preNextBtn button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
  }
  .faq .faq_title {
    font-size: 36px;
  }
  .faq .faq_list {
    margin: 60px auto 80px;
  }
  .faq .faq_list .faq_item .question {
    padding: 20px 80px 20px 20px;
    font-size: 20px;
  }
  .faq .faq_list .faq_item .answer p {
    font-size: 16px;
  }
}