.home-slideshow {
    height: 50vh;
    width: 100%;
    margin: 0 auto 100px;
    overflow: hidden;
    // position: relative;

}


.slideshow-mover {
    display: flex;
    // min-height: 100%;
    height: 100%;
    width: 2222px;
    z-index: 0;
    animation: slideShow 100s linear infinite;

    img {
        display: block;
        width: 100%;
        object-fit: contain;
    }
}

@keyframes slideShow {
    100% {
        transform: translateX(-100%);
    }
}



section {
    margin-top: 60px;
}

.concept {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;

    .concept_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 80px 0 0;

        .concept_img {
            width: 50%;

            .concept_img_front {
                width: 400px;
                height: 500px;
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .concept_img_back {
                width: 400px;
                height: 300px;
                position: relative;
                right: -50%;
                bottom: 20%;
                opacity: 0.2;
                filter: blur(1px);
                z-index: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .concept_info {
            width: 50%;

            p {
                font-size: 20px;
            }

            .concept_title {
                h2 {
                    font-size: 60px;
                    color: #08192D;
                }
            }

            .concept_foreword {
                width: 110%;
                position: relative;
                right: 10%;
                padding: 40px 0;
                box-sizing: border-box;
                z-index: 2;

                blockquote {
                    font-size: 28px;
                    text-align: center;
                    color: #08192D;

                    &::before {
                        content: '\f10d';
                        font-family: "Font Awesome 6 Free";
                        font-weight: 600;
                        font-size: 40px;
                        color: #08192D;
                        padding: 10px;
                    }

                    &::after {
                        content: '\f10e';
                        font-family: "Font Awesome 6 Free";
                        font-weight: 600;
                        font-size: 40px;
                        color: #08192D;
                        padding: 10px;
                    }
                }

                span {
                    font-size: 20px;
                    padding: 10px;
                    position: absolute;
                    right: 0;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: rgba(#08192D, 0.3);
                        border-radius: 50%;
                        position: absolute;
                        left: -20px;
                    }
                }
            }

            .concept_intr {
                padding: 20px 40px;
                margin: 80px 0 0;
                background-color: #fefefea7;

                p {
                    padding: 20px 0;
                    color: #08192D;
                }
            }
        }

    }
}

.space {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;

    .space_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 80px 0;

        .space_img {
            width: 400px;
            

            .space_img_front {
                width: 400px;
                height: 500px;
                position: relative;
                z-index: 1;

                img {
                    text-align: right;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .space_img_back {
                width: 400px;
                height: 300px;
                position: relative;
                left: -50%;
                bottom: 20%;
                opacity: 0.2;
                filter: blur(1px);
                z-index: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }


        }
    }

    .space_info {
        width: 50%;

        p {
            font-size: 20px;
            text-align: justify;
        }

        .space_info_title {

            h2 {
                font-size: 60px;
                color: #08192D;
            }
        }

        .space_info_first {
            width: 110%;
            position: relative;
            left: 0%;
            padding: 40px 0;
            z-index: 2;

            p {
                padding: 24px 0;
                color: #08192D;
            }
        }

        .space_info_sec {
            width: 120%;
            padding: 20px 40px;
            margin: 80px 0 0;
            background-color: #fefefea7;
            z-index: 3;

            p {
                padding: 20px 0;
                color: #08192D;
            }
        }
    }


}

// .space_slider_wrapper {
//     overflow: hidden;
//     opacity: 0.8;


//     .space_item {
//         width: 100%;
//         height: 50vh;
//         background-color: cadetblue;
//         margin: 0 auto;

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             object-position: center;
//         }
//     }
// }





// ***** RWD *****
// ***** RWD *****
// ***** RWD *****
// iPad & Cellphone -- width < 1023

@media screen and (max-width:1023px) {

    .concept {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    
        .concept_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 0 80px;
    
            .concept_img {
                width: 50%;
    
                .concept_img_front {
                    width: 300px;
                    height: 400px;
                    position: relative;
                    z-index: 1;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
                .concept_img_back {
                    width: 300px;
                    height: 200px;
                    position: relative;
                    right: -30%;
                    bottom: 10%;
                    opacity: 0.2;
                    filter: blur(1px);
                    z-index: 0;
                    display: none;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
    
            .concept_info {
                width: 50%;
    
                p {
                    font-size: 20px;
                }
    
                .concept_title {
                    h2 {
                        font-size: 60px;
                        color: #08192D;
                    }
                }
    
                .concept_foreword {
                    width: 140%;
                    position: relative;
                    right: 40%;
                    padding: 40px 0;
                    box-sizing: border-box;
                    z-index: 2;
    
                    blockquote {
                        font-size: 28px;
                        text-align: center;
                        color: #08192D;
    
                        &::before {
                            content: '\f10d';
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-size: 40px;
                            color: #08192D;
                            padding: 10px;
                        }
    
                        &::after {
                            content: '\f10e';
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-size: 40px;
                            color: #08192D;
                            padding: 10px;
                        }
                    }
    
                    span {
                        font-size: 20px;
                        padding: 10px;
                        position: absolute;
                        right: 0;
    
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#08192D, 0.3);
                            border-radius: 50%;
                            position: absolute;
                            left: -20px;
                        }
                    }
                }
    
                .concept_intr {
                    width: 140%;
                    position: relative;
                    right: 62%;
                    padding: 20px 40px;
                    margin: 80px 0 0;
                    background-color: #fefefea7;
                    z-index: 3;
    
                    p {
                        padding: 20px 0;
                        color: #08192D;
                    }
                }
            }
    
        }
    }
    
    .space {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    
        .space_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 0;
    
            .space_img {
                width: 300px;
                
    
                .space_img_front {
                    width: 300px;
                    height: 400px;
                    position: relative;
                    z-index: 1;
    
                    img {
                        text-align: right;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
                .space_img_back {
                    width: 300px;
                    height: 200px;
                    position: relative;
                    left: -40%;
                    bottom: 10%;
                    opacity: 0.2;
                    filter: blur(1px);
                    z-index: 0;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
    
            }
        }
    
        .space_info {
            width: 50%;
    
            p {
                font-size: 20px;
                text-align: justify;
            }
    
            .space_info_title {
    
                h2 {
                    font-size: 60px;
                    color: #08192D;
                }
            }
    
            .space_info_first {
                width: 110%;
                position: relative;
                left: 0%;
                padding: 40px 0;
                z-index: 2;
    
                p {
                    padding: 24px 0;
                    color: #08192D;
                }
            }
    
            .space_info_sec {
                width: 160%;
                padding: 20px 40px;
                margin: 80px 0 0;
                background-color: #fefefea7;
    
                p {
                    padding: 20px 0;
                    color: #08192D;
                }
            }
        }
    
    
    }
}


// ***** RWD *****
// Cellphone -- width < 768
@media screen and (max-width:767px) {
    .concept {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    
        .concept_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 0 80px;
    
            .concept_img {
                width: 50%;
    
                .concept_img_front {
                    width: 200px;
                    height: 300px;
                    position: relative;
                    z-index: 1;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
                .concept_img_back {
                    width: 200px;
                    height: 100px;
                    position: relative;
                    right: -20%;
                    bottom: 5%;
                    opacity: 0.2;
                    filter: blur(1px);
                    z-index: 0;
                    display: block;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
    
            .concept_info {
                width: 50%;
    
                p {
                    font-size: 20px;
                }
    
                .concept_title {
                    h2 {
                        font-size: 45px;
                        color: #08192D;
                        text-align: right;
                    }
                }
    
                .concept_foreword {
                    width: 150%;
                    position: relative;
                    right: 50%;
                    padding: 40px 0;
                    box-sizing: border-box;
                    z-index: 2;
    
                    blockquote {
                        font-size: 28px;
                        text-align: center;
                        color: #08192D;
    
                        &::before {
                            content: '\f10d';
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-size: 40px;
                            color: #08192D;
                            padding: 10px;
                        }
    
                        &::after {
                            content: '\f10e';
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-size: 40px;
                            color: #08192D;
                            padding: 10px;
                        }
                    }
    
                    span {
                        font-size: 20px;
                        padding: 10px;
                        position: absolute;
                        right: 0;
    
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#08192D, 0.3);
                            border-radius: 50%;
                            position: absolute;
                            left: -20px;
                        }
                    }
                }
    
                .concept_intr {
                    width: 140%;
                    position: relative;
                    right: 64%;
                    padding: 20px 40px;
                    margin: 80px 0 0;
                    background-color: #fefefea7;
                    z-index: 3;
    
                    p {
                        padding: 20px 0;
                        color: #08192D;
                    }
                }
            }
    
        }
    }
    
    .space {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    
        .space_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 0;
    
            .space_img {
                width: 200px;
                
    
                .space_img_front {
                    width: 200px;
                    height: 300px;
                    position: relative;
                    z-index: 1;
    
                    img {
                        text-align: right;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
                .space_img_back {
                    width: 200px;
                    height: 100px;
                    position: relative;
                    left: -40%;
                    bottom: 5%;
                    opacity: 0.2;
                    filter: blur(1px);
                    z-index: 0;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
    
            }
        }
    
        .space_info {
            width: 50%;
    
            p {
                font-size: 20px;
                text-align: justify;
            }
    
            .space_info_title {
    
                h2 {
                    font-size: 45px;
                    color: #08192D;
                }
            }
    
            .space_info_first {
                width: 120%;
                position: relative;
                left: 0%;
                padding: 40px 0;
                z-index: 2;
    
                p {
                    padding: 24px 0;
                    color: #08192D;
                }
            }
    
            .space_info_sec {
                width: 160%;
                padding: 20px 40px;
                margin: 80px auto 0;
                background-color: #fefefea7;
    
                p {
                    padding: 20px 0;
                    color: #08192D;
                }
            }
        }
    
    
    }
}



// ***** RWD *****
// iphone XS
@media screen and (max-width:480px) {

    .concept {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    
        .concept_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 0 80px;
    
            .concept_img {
                width: 50%;
                display: none;
            }
    
            .concept_info {
                width: 100%;
    
                p {
                    font-size: 20px;
                }
    
                .concept_title {
                    h2 {
                        font-size: 36px;
                        color: #08192D;
                        text-align: center;
                    }
                }
    
                .concept_foreword {
                    width: 100%;
                    position: relative;
                    right: 0%;
                    padding: 40px 0;
                    box-sizing: border-box;
                    z-index: 2;
    
                    blockquote {
                        font-size: 24px;
                        text-align: center;
                        color: #08192D;
    
                        &::before {
                            content: '\f10d';
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-size: 40px;
                            color: #08192D;
                            padding: 10px;
                            position: absolute;
                            bottom: 70%;
                            left: -5%;
                        }
    
                        &::after {
                            content: '\f10e';
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-size: 40px;
                            color: #08192D;
                            padding: 10px;
                            position: absolute;
                            top: 60%;
                        }
                    }
    
                    span {
                        font-size: 20px;
                        padding: 10px 20px 0 0;
                        position: absolute;
                        right: 0;
    
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            background-color: rgba(#08192D, 0.3);
                            border-radius: 50%;
                            position: absolute;
                            left: -20px;
                        }
                    }
                }
    
                .concept_intr {
                    width: 100%;
                    position: relative;
                    right: 0%;
                    padding: 20px 40px;
                    box-sizing: border-box;
                    margin: 80px 0 0;
                    background-color: #fefefea7;
                    z-index: 3;
    
                    p {
                        padding: 16px 0;
                        color: #08192D;
                        text-align: center;
                    }
                }
            }
    
        }
    }
    
    .space {
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
    
        .space_wrapper {
            display: flex;
            justify-content: space-between;
            padding: 80px 0;
    
            .space_img {
                width: 200px;
                display: none;
            }
        }
    
        .space_info {
            width: 100%;
    
            p {
                font-size: 20px;
                text-align: justify;
            }
    
            .space_info_title {
    
                h2 {
                    font-size: 36px;
                    color: #08192D;
                    text-align: center;
                }
            }
    
            .space_info_first {
                width: 100%;
                position: relative;
                left: 0%;
                padding: 40px 0;
                z-index: 2;
    
                p {
                    padding: 24px 0;
                    color: #08192D;
                    text-align: center;
                }
            }
    
            .space_info_sec {
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                margin: 80px auto 0;
                background-color: #fefefea7;
    
                p {
                    padding: 16px 0;
                    color: #08192D;
                    text-align: center;
                }
            }
        }
    
    
    }
}