.banner_wrapper {
    width: 100%;
    margin: 0 auto;

    .banner_item {
        width: 100%;
        height: 600px;
        margin: 0 auto;


        .banner_card {
            display: flex;

            .banner_img {
                width: 65%;
                height: 600px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .banner_info {
                width: 35%;
                box-sizing: border-box;
                background-color: rgba($color: #fff, $alpha: 0.5);
                color: #08192D;
                padding: 40px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                position: relative;


                h4 {
                    font-size: 40px;
                }

                span {
                    font-size: 20px;
                }

                p {
                    font-size: 20px;
                    color: #91989F;
                }

            }


        }
    }
}

.intro_article {
    margin: 160px 0;

    .intro_title {
        padding: 0 80px;

        h2 {
            font-size: 60px;
            color: #08192D;
            line-height: 1.5;
        }
    }

    .intro_wrapper {
        width: 100%;
        display: flex;
        margin: 60px 0;

        .intro_aside {
            width: 500px;
            color: #08192D;
            box-sizing: border-box;
            border-right: 0.5px solid #08192D;
            padding: 40px 60px;
            align-self: flex-start;
            position: -webkit-sticky;
            /* for Safari */
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;

            span {
                font-size: 40px;
                font-style: italic;
            }

            h3 {
                font-size: 24px;
                padding: 20px;
            }

            .page_link {
                padding: 100px 0;
                text-align: center;

                a {
                    display: inline-block;
                    padding: 20px 30px;
                    font-size: 40px;
                    font-style: italic;
                    color: #08192D;
                    position: relative;
                    z-index: 1;
                    transform: translate(0);
                    transition: all .5s ease-in-out;


                    &::after {
                        content: "\f02b";
                        font-family: "Font Awesome 6 Free";
                        font-weight: 600;
                        font-style: normal;
                        padding-left: 10px;
                    }

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                        width: 80px;
                        height: 80px;
                        aspect-ratio: 80/80;
                        border-radius: 50px;
                        // border: 1px solid #08192D;
                        background-color: rgba($color: #08192D, $alpha: .3);
                        z-index: -1;
                        transform-origin: left;
                        transform: scale(1);
                        transition: all .5s ease-in-out;
                    }

                    &:hover {
                        transform: translateX(10px);
                        transition: all .5s ease-in-out;
                    }

                    &:hover::before {
                        transform-origin: left;
                        transform: scale(1.5);
                        transition: all .5s ease-in-out;
                    }

                }
            }

        }

        article {
            width: 70%;
            padding: 80px;
            box-sizing: border-box;
            text-align: center;

            img {
                border-radius: 10px;
                box-shadow: 2px 2px 15px #9198;
                margin: 40px 0;
                width: 80%;
            }

            p {
                font-size: 24px;
                color: #91989F;
            }
        }
    }
}









// ***** RWD *****
// ***** RWD *****
// ***** RWD *****
// ***** RWD *****
// special setting
@media screen and (max-width:1200px) {
    .banner_wrapper {

        .banner_item {

            .banner_card {

                .banner_info {
                    padding: 30px 40px;

                    h4 {
                        font-size: 36px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }


    .intro_article {

        .intro_title {
            text-align: center;

            h2 {
                font-size: 50px;
            }
        }

        .intro_wrapper {
            flex-direction: column-reverse;

            .intro_aside {
                width: 100%;
                border-right: none;
                flex-direction: row;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .page_link {
                    flex-basis: 100%;
                }

            }

            article {
                width: 100%;
            }
        }
    }

}


// ***** RWD *****
// iPad & Cellphone -- width < 1023

@media screen and (max-width:1023px) {

    // banner setting on the iPad device
    .banner_wrapper {

        .banner_item {
            height: auto;

            .banner_card {

                .banner_img {
                    width: 60%;
                    height: 450px;
                }

                .banner_info {
                    width: 40%;
                    padding: 20px 30px;

                    h4 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 16px;
                    }

                }
            }
        }
    }

    .intro_article {
        margin: 80px 0;

        .intro_title {

            h2 {
                font-size: 40px;
            }
        }

        .intro_wrapper {
            margin: 0;

            .intro_aside {

                span {
                    font-size: 30px;
                    font-style: italic;
                }

                h3 {
                    font-size: 20px;
                    padding: 20px;
                }
            }

            article {

                p {
                    font-size: 20px;
                }
            }
        }
    }
}



// ***** RWD *****
// Cellphone -- width < 768
@media screen and (max-width:767px) {

    // banner setting on the Cellphone device
    .banner_wrapper {

        .banner_item {
            height: auto;

            .banner_card {
                // display: flex;
                flex-direction: column;

                .banner_img {
                    width: 100%;
                    height: 300px;
                }

                .banner_info {
                    width: 100%;

                    h4 {
                        font-size: 30px;
                    }

                    span {
                        font-size: 16px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .intro_article {

        .intro_title {

            h2 {
                font-size: 30px;
            }
        }

        .intro_wrapper {

            .intro_aside {
                flex-direction: column;
                align-items: center;
                text-align: center;


                .page_link {
                    padding: 100px 0;
                    text-align: center;

                    a {
                        display: inline-block;
                        padding: 20px 30px;
                        font-size: 40px;
                        font-style: italic;
                        color: #08192D;
                        position: relative;
                        z-index: 1;
                        transform: translate(0);
                        transition: all .5s ease-in-out;


                        &::after {
                            content: "\f02b";
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-style: normal;
                            padding-left: 10px;
                        }

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "";
                            width: 80px;
                            height: 80px;
                            aspect-ratio: 80/80;
                            border-radius: 50px;
                            // border: 1px solid #08192D;
                            background-color: rgba($color: #08192D, $alpha: .3);
                            z-index: -1;
                            transform-origin: left;
                            transform: scale(1);
                            transition: all .5s ease-in-out;
                        }

                        &:hover {
                            transform: translateX(10px);
                            transition: all .5s ease-in-out;
                        }

                        &:hover::before {
                            transform-origin: left;
                            transform: scale(1.5);
                            transition: all .5s ease-in-out;
                        }

                    }
                }

            }

            article {

                img {
                    width: 100%;
                }
            }

        }
    }
}



// ***** RWD *****
// mini-version for iphone XS
@media screen and (max-width:410px) {

    // banner setting on Iphone XS
    .banner_wrapper {

        .banner_item {

            .banner_card {

                .banner_info {

                    h4 {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .intro_article {

        .intro_wrapper {

            .intro_aside {

                .page_link {
                    padding: 60px 0;

                    a {
                        padding: 20px 30px;
                        font-size: 30px;

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "";
                            width: 80px;
                            height: 80px;
                            aspect-ratio: 80/80;
                            border-radius: 50px;
                            // border: 1px solid #08192D;
                            background-color: rgba($color: #08192D, $alpha: .3);
                            z-index: -1;
                            transform-origin: left;
                            transform: scale(1);
                            transition: all .5s ease-in-out;
                        }




                    }
                }

            }

            article {

                p {
                    font-size: 16px;
                }
            }
        }
    }
}