.current {
    width: 80%;
    margin: 0 auto;

    h2 {
        font-size: 50px;
        padding: 20px 0;
    }
}

.banner {
    width: 100%;
    height: 480px;
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .exhibition_name {
        position: absolute;
        top: 10%;
        left: 10%;

        h2 {
            font-size: 80px;
            color: #222;
        }
    }

    .exhibiton_date {
        position: absolute;
        bottom: 10px;
        right: 10%;
        display: flex;
        flex-direction: row-reverse;


        p {
            font-size: 100px;
            color: #fefefe;
            font-weight: 300;
        }
    }
}

.past {
    width: 80%;
    margin: 40px auto;


    h2 {
        font-size: 100px;
        padding: 20px 0;
    }

    .past_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
        justify-content: center;
        gap: 30px;

        .past_item {
            width: 300px;
            height: 300px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: all 0.4s ease-in-out;


            &:hover {
                filter: grayscale(100%);

                .past_ex_intro {
                    display: block;
                }
            }

            a {
                text-decoration: none;
            }

            .past_ex_intro {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 300px;
                color: #fff;
                font-size: 40px;
                background-color: #00000060;
                display: none;
            }
        }

        .a {
            background-image: url(../img/exhibition/past/past01.jpg);
        }

        .b {
            background-image: url(../img/exhibition/past/past02.jpg);
        }

        .c {
            background-image: url(../img/exhibition/past/past03.jpg);
        }

        .d {
            background-image: url(../img/exhibition/past/past04.jpg);
        }

        .e {
            background-image: url(../img/exhibition/past/past05.jpg);
        }

        .f {
            background-image: url(../img/exhibition/past/past06.jpg);
        }

        .g {
            background-image: url(../img/exhibition/past/past07.jpg);
        }

        .h {
            background-image: url(../img/exhibition/past/past08.jpg);
        }

        .i {
            background-image: url(../img/exhibition/past/past09.jpg);
        }
    }

    .past_more {
        text-align: center;
        padding: 20px;
    }
}