.banner_wrapper {
    width: 100%;
    margin: 0 auto;

    .banner_item {
        width: 100%;
        height: 600px;
        margin: 0 auto;

        .banner_card {
            display: flex;

            .banner_img {
                width: 70%;
                height: 600px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .banner_info {
                width: 30%;
                box-sizing: border-box;
                background-color: rgba($color: #fff, $alpha: 0.5);
                color: #08192D;
                padding: 40px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                position: relative;


                h4 {
                    font-size: 40px;
                }

                span {
                    font-size: 20px;
                }

                p {
                    font-size: 20px;
                    color: #91989F;
                    text-align: justify;
                }


                .page_link {
                    text-align: center;
                    padding: 40px;
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    a {
                        display: inline-block;
                        padding: 20px 30px;
                        font-size: 20px;
                        font-style: italic;
                        color: #08192D;
                        position: relative;
                        z-index: 1;
                        transform: translate(0);
                        transition: all .5s ease-in-out;


                        &::after {
                            content: "\f178";
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            font-style: normal;
                            padding-left: 10px;
                        }

                        &::before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "";
                            width: 60px;
                            height: 60px;
                            aspect-ratio: 60/60;
                            border-radius: 50px;
                            border: 1px solid #08192D;
                            z-index: -1;
                            transform-origin: left;
                            transform: scale(1);
                            transition: all .5s ease-in-out;
                        }

                        &:hover {
                            transform: translateX(10px);
                            transition: all .5s ease-in-out;
                        }

                        &:hover::before {
                            transform-origin: left;
                            transform: scale(1.5);
                            transition: all .5s ease-in-out;
                        }

                    }
                }
            }


        }
    }
}


.past {
    color: #08192D;
    margin: 160px 0;

    .past_title {
        h2 {
            font-size: 60px;
        }
    }

    .btn_wrapper {
        padding-top: 40px;
        display: flex;
        gap: 20px;

        .btn_category {
            a {
                font-family: 'Noto Sans', sans-serif;
                color: #FCFAF2;
                background-color: rgba($color: #08192D, $alpha: 0.7);
                font-size: 20px;
                padding: 8px 20px;
                border-radius: 10px;
                transition: all .5s ease-in-out;

                &:hover {
                    color: #08192D;
                    background-color: rgba($color: #08192D, $alpha: 0.3);
                    transition: all .5s ease-in-out;
                }

            }
        }
    }



    .past_wrapper {
        padding: 80px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .past_item {
            width: 300px;
            transition: all 0.5s ease-in-out;
            margin: 20px 0;

            .past_img {
                width: 300px;
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;

                }
            }

            .past_ex_intro {
                color: #08192D;
                font-size: 32px;
                text-align: center;
                font-style: italic;
                padding: 10px;
                position: relative;
                transition: all .5s ease-in-out;

                &::before {
                    background-color: #91989F;
                    content: "";
                    inset: 50% 0 0 0;
                    position: absolute;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.5s ease-in-out;
                    z-index: -1;
                }
            }

            &:hover {
                filter: grayscale(100%);
                transition: all .5s ease-in-out;

                .past_ex_intro {
                    position: relative;
                    transition: all .5s ease-in-out;

                    &::before {
                        transform: scaleX(1);
                        transform-origin: left;
                    }

                }

            }
        }


    }

    .page_link {
        text-align: center;

        a {
            display: inline-block;
            padding: 20px 30px;
            font-size: 40px;
            color: #08192D;
            position: relative;
            z-index: 1;
            transform: translate(0);
            transition: all .5s ease-in-out;


            &::after {
                content: "\f70e";
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                font-style: normal;
                padding-left: 10px;
            }

            &::before {
                position: absolute;
                inset: 0;
                content: "";
                width: 60px;
                height: 60px;
                aspect-ratio: 60/60;
                border-radius: 50%;

                background-color: rgba($color: #08192D, $alpha: .3);
                z-index: -1;
                transform-origin: left;
                transform: scale(1);
                transition: all .5s ease-in-out;
            }

            &:hover {
                transform: translateY(10px);
                color: #91989F;
                transition: all .5s linear;
            }

            &:hover::before {
                transform: scale(2.4);
                background-color: rgba($color: #91989F, $alpha: .3);
                transition: all .5s ease-in-out;
            }

        }
    }

}