@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Unna:ital@0;1&display=swap');

* {
    outline: 1px solid darkcyan;
}

html {
    scroll-behavior: smooth;
}

.main_container {
    width: 100%;
    position: relative;
    // overflow: hidden;
    background-image: url(../img/bg/all_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Unna', serif;
}


h2 {
    font-style: italic;
}

p {
    line-height: 1.5;
    text-align: justify;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}


// top button
.topBtn {
    opacity: 0; // default status
    visibility: hidden;
    border: none;
    width: 80px;
    height: 80px;
    background-color: rgba($color: #08192D, $alpha: 0.8);
    border-radius: 50%;
    font-family: 'Unna', serif;
    font-size: 20px;
    color: #fefefe;
    position: fixed;
    right: 10%;
    bottom: 10%;
    cursor: pointer;
    z-index: 999;
    transform: translateY(100px);
    transition: all 0.5 ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

.showTopBtn {
    opacity: 1;
    visibility: inherit;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

// ↑ top button ----------


// container setting on the desktop device
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

// header setting on the desktop device
header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    z-index: 1;
    margin-bottom: 40px;

    .logo {
        width: 10%;

        img {
            width: 100%;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 40px;

            li {
                a {
                    font-family: 'Unna', serif;
                    font-style: italic;
                    font-size: 24px;
                    padding: 0 4px;
                    color: #08192D;
                    z-index: 1;
                    position: relative;
                    transition: all .5s;



                    &::before {
                        background-color: #91989F;
                        content: "";
                        inset: 50% 0 0 0;
                        position: absolute;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.5s ease-in-out;
                        z-index: -1;
                    }

                    &:hover::before {
                        transform: scaleX(1);
                        transform-origin: left;

                    }

                    &:hover {
                        transition: all .5s;
                    }

                }
            }

        }
    }
}


// hamburger selector be hidden on the desk device 
#ham {
    display: none;
}


// footer setting on the desk device
footer {
    margin-top: 160px;
    background: rgba($color: #FCFAF2, $alpha: 0.3);
    backdrop-filter: blur(4px);


    .footer_wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        gap: 40px;
        font-size: 20px;
        color: #08192D;

        h4,
        p {
            font-family: 'Noto Sans', sans-serif;
        }

        h4 {
            font-weight: bold;
        }

        .footer_logo {
            width: 15%;
            padding: 80px 0 0 40px;

            img {
                width: 100%;
            }
        }

        .footer_info {
            width: 45%;
            padding: 80px 0 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;


            .footer_title {
                border-bottom: 1px solid #08192D;
                padding-bottom: 8px;
                margin-bottom: 8px;
            }

            .footer_openinghoursinfo {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .footer_nav {
                flex-grow: 1;

                .footer_content {
                    ul li a {
                        color: #08192D;
                        font-family: 'Noto Sans', sans-serif;
                        line-height: 1.5;
                        padding: 4px;
                        position: relative;
                        transition: all .5s;


                        &::before {
                            background-color: #91989F;
                            content: "";
                            inset: 50% 0 0 0;
                            position: absolute;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 0.5s ease-in-out;
                            z-index: -1;
                        }

                        &:hover::before {
                            transform: scaleX(1);
                            transform-origin: left;

                        }

                        &:hover {
                            transition: all .5s;
                        }
                    }
                }
            }

            .socialmedia_icon {
                display: flex;
                gap: 20px;
            }

            .copyright {
                span {
                    font-size: 16px;
                    font-family: 'Noto Sans', sans-serif;
                }
            }


        }

        .footer_img {
            width: 35%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

}




// ***** RWD *****
// iPad & Cellphone -- width < 1023

@media screen and (max-width:1023px) {

    .main_container {
        overflow: hidden;
    }


    // hamburger setting
    .hb {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 5;
    }

    .hb span {
        width: 80%;
        height: 4px;
        background-color: #08192D;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 10px;

    }

    .hb span:nth-child(1) {
        top: 8px;
        transition: top 0.3s 0.3s, rotate 0.3s;
    }

    .hb span:nth-child(2) {
        top: 18px;
    }

    .hb span:nth-child(3) {
        top: 28px;
        transition: top 0.3s 0.3s, rotate 0.3s;
    }

    #ham:checked+.main_header .hb span:nth-child(1) {
        top: 18px;
        rotate: 45deg;
        transition: top 0.3s, rotate 0.3s 0.3s;

    }

    #ham:checked+.main_header .hb span:nth-child(2) {
        display: none;
    }

    #ham:checked+.main_header .hb span:nth-child(3) {
        top: 18px;
        rotate: -45deg;
        transition: top 0.3s, rotate 0.3s 0.3s;
    }

    // ↑ hamburger setting


    // header & nav setting on the iPad and phone
    header {
        position: relative;
        margin-bottom: 0;

        .logo {
            width: 15%;
        }

        nav {
            // opacity: 0;
            // height: 0;
            // overflow: hidden;
            // transition: opacity 0.6s ease-in;
            // display: none;

            // position: absolute;
            // right: 0;
            // top: 100%;
            // width: 100%;
            position: fixed;
            z-index: 2;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
            transform: scale(0);
            transform-origin: right;

            background-color: rgba(#fefefe, 0.9);

            ul {
                flex-direction: column;
                text-align: right;
                padding: 200px 40px;
            }

            // &::after {
            //     content: "";
            //     background-color: rgba(#fefefe, 0.8);
            //     width: 100%;
            //     height: 100vh;
            //     position: absolute;
            //     right: 0;
            //     bottom: 100%;
            // }
        }
    }



    // click action
    #ham:checked+.main_header nav {
        // display: block;
        // opacity: 1;
        // height: auto;
        // transition: opacity 0.6s ease-in;
        top: 0;
        transform: scale(1);
        transform-origin: right;
        transition: all .7s ease-in-out;
    }

    // ↑ above -- header setting on the iPad device


    // container setting on the iPad device
    .container {
        max-width: 1023px;
    }


    // footer setting on the iPad device
    footer {

        .footer_wrapper {
            justify-content: space-evenly;

            .footer_logo {
                width: 20%;
                padding: 80px 0 0 0;
            }

            .footer_info {
                width: 60%;
            }

            .footer_img {
                display: none;
            }
        }

    }

}



// ***** RWD *****
// Cellphone -- width < 768
@media screen and (max-width:767px) {


    // container setting on the iPad device
    .container {
        max-width: 767px;
    }

    // header setting on the Cellphone device
    header {
        .logo {
            width: 20%;
        }
    }

    // footer setting on the Cellphone device
    footer {

        .footer_wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .footer_logo {
                width: 50%;
                padding: 80px 0 0 0;
            }

            .footer_info {
                width: 80%;
                padding: 40px;

                .footer_content {
                    padding-bottom: 10px;
                }

                .footer_openinghoursinfo {
                    flex-direction: column;
                    padding-bottom: 10px;
                    align-items: baseline;
                }

                .footer_address {
                    .footer_content {
                        p {
                            text-align: left;
                        }
                    }
                }

                .copyright {
                    span {
                        font-size: 12px;
                    }
                }
            }
        }

    }

}