@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Unna:ital@0;1&display=swap');

// * {
//     outline: 1px solid darkcyan;
// }

.container {
    // max-width: 1200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../img/bg/all_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2,
h3 {
    font-family: 'Unna', serif;
    font-style: italic;
}

p {
    line-height: 1.5;
    font-family: 'Unna', serif;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

// exhition, ex_intro 的banner
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}





header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    z-index: 1;

    .logo {
        width: 150px;

        img {
            width: 100%;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 40px;

            li {
                a {
                    text-decoration: none;
                    font-size: 24px;
                    color: #222;
                    transition: all 0.3s;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }

        }
    }
}


footer {
    margin-top: 60px;
    background: rgba($color: #FCFAF2, $alpha: 0.3);
    backdrop-filter: blur(4px);
    

    .footer_wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        font-size: 16px;
        color: #08192D;

        h4,
        p {
            font-family: 'Noto Sans', sans-serif;
        }

        h4 {
            font-weight: bold;
        }

        .footer_logo {
            padding: 40px;
        }

        .footer_info {
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;


            .footer_title {
                border-bottom: 1px solid #08192D;
                padding-bottom: 8px;
                margin-bottom: 8px;
            }

            .footer_openinghoursinfo {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .footer_nav {
                flex-grow: 1;
                .footer_content {
                    a {
                        color: #08192D;
                        font-family: 'Noto Sans', sans-serif;
                        line-height: 1.5;
                    }
                }
            }

            .socialmedia_icon {
                display: flex;
                gap: 20px;
            }
            

        }
        
        .footer_img {
                width: 33%;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
    }

}