// banner ----------
.news {
    margin: 160px 0;
}

.news_banner {
    position: relative;

    .banner_img {
        width: 100%;


        img {
            width: 100%;
        }
    }

    .banner_title {
        position: absolute;
        left: 0;
        right: 0;
        top: 35%;
        text-align: center;
        font-size: 60px;
        color: #FCFAF2;
    }

}

// select_box
.select_box {
    font-size: 40px;
    color: #08192D;


    select {
        font-size: 32px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        color: #fefefe;
        background-color: rgba($color: #08192D, $alpha: 0.5);
    }
}


// news list
.news_wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 0;



    .news_card {
        width: 300px;
        height: 500px;
        margin: 20px 0;
        padding: 20px;
        background-color: rgba($color: #fff, $alpha: 0.7);
        box-shadow: 2px 2px 15px rgba($color: #08192D, $alpha: .5);
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: relative;

        .news_img {

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .news_info {
            color: #08192D;
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;


            span {
                font-size: 20px;
            }

            h4 {
                font-size: 24px;
            }



        }

        .page_link {
            text-align: center;
            padding-bottom: 20px;
            position: absolute;
            right: 0;
            bottom: 0;

            a {
                display: inline-block;
                padding: 20px 30px;
                font-size: 20px;
                font-style: italic;
                color: #08192D;
                position: relative;
                z-index: 1;
                // transform: translate(0);
                // transition: all .5s ease-in-out;


                &::after {
                    content: "\f1ea";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 600;
                    font-style: normal;
                    padding-left: 10px;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 60px;
                    height: 60px;
                    aspect-ratio: 60/60;
                    border-radius: 50px;
                    border: 1px solid #91989F;
                    z-index: -1;
                    transform-origin: left;
                    transform: scale(1);
                    transition: all .5s ease-in-out;
                }

                // &:hover {
                //     transform: translateX(10px);
                //     transition: all .5s ease-in-out;
                // }

                &:hover::before {
                    transform-origin: left;
                    transform: scale(1.2);
                    transition: all .5s ease-in-out;
                }

            }
        }

    }
}

// more
.news_page_link {
    text-align: center;

    a {
        display: inline-block;
        padding: 20px 30px;
        font-size: 40px;
        color: #08192D;
        position: relative;
        z-index: 1;
        transform: translate(0);
        transition: all .5s ease-in-out;


        &::after {
            content: "\f70e";
            font-family: "Font Awesome 6 Free";
            font-weight: 600;
            font-style: normal;
            padding-left: 10px;
        }

        &::before {
            position: absolute;
            inset: 0;
            content: "";
            width: 60px;
            height: 60px;
            aspect-ratio: 60/60;
            border-radius: 50%;

            background-color: rgba($color: #08192D, $alpha: .3);
            z-index: -1;
            transform-origin: left;
            transform: scale(1);
            transition: all .5s ease-in-out;
        }

        &:hover {
            transform: translateY(10px);
            color: #91989F;
            transition: all .5s linear;
        }

        &:hover::before {
            transform: scale(2.4);
            background-color: rgba($color: #91989F, $alpha: .3);
            transition: all .5s ease-in-out;
        }

    }
}







// ********** RWD **********
// iPad & Cellphone -- width < 1023

@media screen and (max-width:1023px) {


    // banner setting on the iPad device
    .news_banner {

        .banner_title {
            font-size: 45px;
        }

    }
}




// ***** RWD *****
// Cellphone -- width < 768
@media screen and (max-width:767px) {

    // banner setting on the Cellphone device
    .news_banner {

        .banner_title {
            font-size: 30px;
        }

    }
}



// ***** RWD *****
// iphone XS
 @media screen and (max-width:480px) {

    // banner setting on the Cellphone device
    .news_banner {

        .banner_title {
            font-size: 28px;
        }

    }
}