//booking tickets online
.bookingSystem {

    text-align: center;
    background-color: rgba($color: #08192D, $alpha: .6);

    h2 {
        padding-top: 40px;
        color: #fefefe;
        font-size: 60px;
    }
}

.mulForm_wrapper {
    // background-color: rgba($color: #08192D, $alpha: .6);
}

// form
#mulForm {
    margin: 80px auto;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
    font-size: 40px;
    color: #fefefe;
}

// tab-1 ----------
.type_card {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 80px 0 0;

    .card {
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        gap: 20px;
        text-align: left;
        border-radius: 10px;
        background-color: #fefefe;

        .card_img {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }

        .card_txt {
            color: #08192D;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 24px;
            }

            span {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }

        .quantity {
            display: flex;
            align-items: center;

            input {
                width: 50px;
                margin: 0 5px;
            }
        }


    }
}

#ticket-type-1,
#ticket-type-2 {
    display: none;
}

#ticket-type-1:checked+.card {
    outline: 8px solid #F6C555;
    opacity: 0.9;
}

#ticket-type-2:checked+.card {
    outline: 8px solid #F6C555;
    opacity: 0.9;
}

// above -- tab-1 ----------

// tab-2 different types of tickets 
.tickets_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 0;

    .tickets_item {
        width: 240px;
        height: 300px;
        background-color: #fefefe;
        border: 1px solid #08192D;
        color: #08192D;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        position: relative;

        p {
            font-size: 32px;
        }

        .tickets_price {
            font-style: italic;
        }

        .tickets_info {
            position: absolute;
            top: 300px;
            padding: 10px;

            p {
                text-align: center;
                font-size: 20px;
                color: #fefefe;
            }
        }

    }
}


// increase/decrease number
.quantity {
    display: flex;
    align-items: center;
    text-align: center;

    a {
        display: inline-block;
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #08192D;
        color: #fefefe;
    }
}

.quantity input {
    width: 50px;
    margin: 0 5px;
}

.quantity input[type=number] {
    text-align: center;
    border: none;
    border-bottom: 1px solid #08192D;
    font-size: 20px;
}

// remove arrows in input-number!!
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
// input[type=number] {
//     -moz-appearance: textfield;
// }


// total-price
.total-price {
    padding-top: 90px;
    font-style: italic;
    text-align: right;

    &::before {
        content: '\f51e';
        color: #fefefe;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        font-style: normal;
        padding-right: 10px;
    }
}

// above -- tab-2 ----------


// tab-3 ----------
// your information
.profile_wrapper {
    // padding: 80px 200px 0;
    width: 80%;
    margin: 80px auto 0;
    text-align: left;
    font-size: 24px;

    p {
        padding: 10px 0 40px;

        input {
            width: 100%;
            padding: 20px;
            font-size: 20px;
            border: none;
            border-radius: 10px;
        }
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

}

// above -- tab-3 ----------



// tab-4 ----------
// check out form
// payment

.checkout_wrapper {
    padding: 80px 0 0;
    display: flex;
    align-items: baseline;
    gap: 40px;
    text-align: left;
    font-size: 24px;

    p {
        padding: 10px 0 20px;

        input {
            width: 100%;
            padding: 20px;
            font-size: 20px;
            border: none;
            border-radius: 10px;
        }
    }

    .profile {
        width: 50%;
        box-sizing: border-box;




        input[type=checkbox] {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            line-height: 1.5;
        }

    }

    .payment {
        width: 50%;
        box-sizing: border-box;

    }
}

.credit_icon {
    font-size: 60px;
    display: flex;
    gap: 20px;
    padding: 4px 0 !important;
}

// above -- tab-4 ----------

//--------------------------
// input of whole FORM
input {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #aaa;
}

//when getting error
input.invalid {
    outline: 4px solid #F6C555;
}

.arrow_btn {
    padding-top: 40px;
    overflow: auto;
}

.preNextBtn {
    float: right;
}

button {
    background-color: rgba($color: #08192D, $alpha: 0.5);
    color: #fefefe;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 40px;
    font-size: 20px;
    font-family: 'Unna', serif;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}


//default status: let all step-division be hidden  
.tab {
    display: none;
    // height: 560px;
    height: auto;
}

.nav_dots {
    margin-top: 10px;
    text-align: center;
}

// step-by-step dots
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.7;
}

// active dot
.step.active {
    opacity: 1;
}

// finished dot
.step.finish {
    background-color: #08192D;
}





// FAQ
.faq {
    color: #08192D;

    .faq_title {
        font-size: 60px;
        text-align: center;
    }

    .faq_list {
        width: 80%;
        margin: 80px auto;

        .faq_item {
            padding-bottom: 20px;

            .question {
                padding: 20px;
                border-bottom: 1px solid #08192D;
                font-size: 32px;
                position: relative;

                .switch_btn {

                    // padding: 20px;
                    color: #08192D;
                    border: none;
                    background-color: rgba($color: #fff, $alpha: .0);
                    position: absolute;
                    right: 20px;
                    top: calc((100% - 40px) / 2);
                    font-size: 24px;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;

                }
            }

            .icon_minus {
                display: none;
            }

            .answer {
                display: none;

                p {
                    font-size: 20px;
                    padding: 20px;
                }
            }
        }


        .show_answer .answer {
            display: block;
        }

        .show_answer .icon_minus {
            display: inline;
        }

        .show_answer .icon_plus {
            display: none;
        }
    }
}






// ********** RWD **********
// ********** RWD **********
// ********** RWD **********
// ********** RWD **********
// ********** RWD **********
// special setting
@media screen and (max-width:1200px) {

    .tickets_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0 0;

        .tickets_item {

            width: 60%;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px 80px;
            margin: 0 auto 80px;

            .tickets_info {
                position: absolute;
                top: 100%;
                padding: 10px;
            }

        }
    }

    .total-price {
        text-align: center;
        padding-top: 40px;
    }

    .preNextBtn {
        float: initial;
    }

}





// iPad & Cellphone -- width < 1023

@media screen and (max-width:1023px) {

    .bookingSystem {

        h2 {
            font-size: 50px;
        }
    }

    // tab-01 setting on the iPad device
    .type_card {
        flex-direction: column;
        align-items: center;

        .card {
            width: 80%;
        }
    }


    // FAQ setting on the iPad device
    .faq {

        .faq_title {
            font-size: 45px;
        }

        .faq_list {

            .faq_item {

                .question {

                    font-size: 28px;
                }
            }
        }
    }
}



// ***** RWD *****
// Cellphone -- width < 768
@media screen and (max-width:767px) {

    #mulForm {
        font-size: 32px;
    }

    .bookingSystem {

        h2 {
            font-size: 36px;
        }
    }

    // tab-01 setting on the cellphone device
    .type_card {

        .card {
            width: 90%;

            .card_txt {

                h3 {
                    font-size: 20px;
                }

                span {
                    font-size: 16px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }



    //tab-02
    .tickets_wrapper {

        .tickets_item {
            width: 100%;
            padding: 10px 40px;

            img {
                transform: scale(0.8);
            }

            p {
                font-size: 20px;
            }

            .tickets_info {

                p {
                    font-size: 16px;
                }
            }

        }
    }

    .total-price {
        padding: 20px;
    }






    // tab-04
    .checkout_wrapper {
        flex-direction: column;
        align-items: center;

        .profile {
            width: 80%;
        }

        .payment {
            width: 80%;
        }
    }






    // FAQ setting on the Cellphone device
    .faq {

        .faq_title {
            font-size: 36px;
        }

        .faq_list {

            .faq_item {

                .question {
                    padding: 20px 60px 20px 20px;
                    font-size: 24px;

                }
            }
        }
    }
}


// ***** RWD *****
// mini-version for iphone XS
@media screen and (max-width:480px) {

    #mulForm {
        font-size: 24px;
    }


    // tab-01 setting on the iphone XS
    .type_card {

        .card {
            width: 100%;

            .card_txt {

                h3 {
                    font-size: 16px;
                }

                span {
                    font-size: 12px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }





    //tab-02 setting on the iphone XS
    .tickets_wrapper {

        .tickets_item {

            width: 100%;
            height: auto;
            justify-content: space-between;
            padding: 10px 20px;
            margin-bottom: 60px;

            img {
                transform: scale(0.5);
            }

            p {
                font-size: 16px;
            }

            .tickets_info {
                position: absolute;
                top: 100%;
                padding: 10px;

                p {
                    text-align: left;
                    font-size: 12px;
                }
            }

        }
    }


    // increase/decrease number setting on the iphone XS
    .quantity {

        a {
            font-size: 8px;
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
    }

    .quantity input {
        width: 20px;
    }

    .quantity input[type=number] {
        font-size: 16px;
    }

    // total-price setting on the iphone XS
    .total-price {
        font-size: 24px;
        padding: 40px 0;
    }






    // tab-3 ---------- setting on the iphone XS
    // your information
    .profile_wrapper {
        width: 100%;
        font-size: 20px;

        p {
            padding: 5px 0 20px;

            input {
                padding: 10px;
                font-size: 16px;
            }
        }
    }


    // tab-04 setting on iphone XS
    .checkout_wrapper {
        font-size: 20px;

        p {
            padding: 5px 0 20px;

            input {
                padding: 10px;
                font-size: 16px;
            }
        }

        .profile {
            width: 100%;
        }

        .payment {
            width: 100%;
        }

    }

    .credit_icon {
        font-size: 40px;
    }



    // preNextBtn setting on the iphone XS
    .preNextBtn {

        button {
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 16px;
        }
    }






    // FAQ setting on the ipone XS
    .faq {

        .faq_title {
            font-size: 36px;
        }

        .faq_list {
            margin: 60px auto 80px;

            .faq_item {

                .question {
                    padding: 20px 80px 20px 20px;
                    font-size: 20px;
                }

                .answer {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}